<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'build/favicon.ico' %}" />
    <title>Roommate Finder</title>
    <link href="{% static 'build/static/css/main.520ea78a.css' %}" rel="stylesheet" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- Load React build files dynamically -->
    <script src="{% static 'build/static/js/main.9251f7e4.js' %}"></script>
  </body>
</html>
